<section class="career-field" id="career">
    <div class="container">
        <div class="career-header slide-bottom">
            <h2>Ready to Apply?</h2>
        </div>
        <div class="career-grid">
            <p class="subtitle">Send a POST request (<code>content-type</code> should be multipart) to our jobs API endpoint, along with your information:</p>
            <p class="subtitle">Endpoint: <code>https://www.naylalabs.com/apply-job</code></p>
            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>Param</th>
                        <th>Description</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>email</td>
                        <td>Email Address</td>
                        <td>T</td>
                    </tr>
                    <tr>
                        <td>firstName</td>
                        <td>First Name</td>
                        <td>T</td>
                    </tr>
                    <tr>
                        <td>lastName</td>
                        <td>Last Name</td>
                        <td>T</td>
                    </tr>
                    <tr>
                        <td>phone</td>
                        <td>Phone</td>
                        <td>T</td>
                    </tr>
                    <tr>
                        <td>github</td>
                        <td>Github (URL)</td>
                        <td>F</td>
                    </tr>
                    <tr>
                        <td>stackoverflow</td>
                        <td>Stack Overflow (URL)</td>
                        <td>F</td>
                    </tr>
                    <tr>
                        <td>linkedin</td>
                        <td>LinkedIn (URL)</td>
                        <td>F</td>
                    </tr>
                    <tr>
                        <td>resume</td>
                        <td>Resume File (.pdf, .doc, .docx, .odt)</td>
                        <td>T</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>