<footer class="site-footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="footer-menu">
                        <li><a href="https://www.linkedin.com/company/naylalabs/mycompany/" target="_blank">Linkedin</a></li>
                        <li><a href="https://www.instagram.com/naylalabs/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="copyright-text">Naylalabs - Creative Software Development Agency © 2019</div>
                </div>
            </div>
        </div>
    </div>
</footer>