.footer-copyright {
    background-color: #001f3c;
}
.copyright-text {
    line-height: 1.8;
    color: #4b6c8e;
    font-size: 12px;
    padding: 22px 22px 10px 0;
    text-align: right;
}

.footer-menu {
    text-align: left;
    padding: 18px 0 10px 0;
}

.footer-menu > li {
    display: inline-block;
}

.footer-menu > li > a {
    display: block;
    color: #4b6c8e;
    font-size: 14px;
    margin-left: 25px;
    text-decoration: none;
}