@media only screen and (max-width: 1199px) {
    header.site-header > .header-center .header-center-content > .header-logo {
        max-width: 160px;
    }
}

.header-logo img {
    max-width: 220px;
}

.header-center {
    background-color: #001f3c;
}

.header-nav {
    text-transform: uppercase;
}

.header-center-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.site-header > .header-center .header-center-content > .header-logo {
    flex: none;
}

div.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.header-nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.nav-item {
    position: relative;
}

.nav-link {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    margin: 26px 30px 20px 0;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 0;
    overflow: hidden;
    z-index: 1;
    font-family: Montserrat, sans-serif;
}
