<div class="header-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-center-content">
                    <div class="header-logo">
                        <a routerLink="['']">
                            <img src="assets/images/naylalabs-logo.png" alt="Naylalabs Logo">
                        </a>
                    </div>
                    <div class="header-nav">
                        <ul class="header-navigation">
                            <li class="nav-item"><a [routerLink]="['/']" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="#who-are-we" class="nav-link">Who Are We?</a></li>
                            <li class="nav-item"><a [routerLink]="['portfolio']" class="nav-link">Portfolio</a></li>
                            <li class="nav-item"><a [routerLink]="['team']" class="nav-link">Team</a></li>
                            <li class="nav-item"><a [routerLink]="['career']" class="nav-link">Career</a></li>
                            <li class="nav-item"><a [routerLink]="['contact']" class="nav-link">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>