@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.section {
  background-color: green;
}

.header {
  background-color: #00162a;
  padding: 10px 200px;
}

.main-header-element {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.header-logo img {
  max-width: 250px;
}

.header-menu ul {
  list-style: none;
  display: flex;
}

.header-menu li {
  display: inline;
  margin: 10px;
  padding: 0;
  position: relative;
  color: white;
}

.header-menu ul li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 13px;
}
