<section class="job">
  <div class="container">
    <div class="main-apply-job">
      <div class="main-apply-job-content">
        <div class="apply-job-information">
          <h3>Ready to Apply</h3>
          <div class="apply-job-information-p">
            <p>Send a POST request (<span class="flashlight">content-type</span> should be multipart) to our jobs API
              endpoint, along with your
              information:</p>
            <p>Endpoint: <span class="flashlight">https://www.naylalabs.com/apply-job</span></p>
          </div>
        </div>
        <div class="apply-job-table">
          <table>
            <thead>
            <tr>
              <th>Param</th>
              <th>Description</th>
              <th>Required</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>email</td>
              <td>Email Address</td>
              <td>T</td>
            </tr>
            <tr>
              <td>firstName</td>
              <td>First Name</td>
              <td>T</td>
            </tr>
            <tr>
              <td>lastName</td>
              <td>Last Name</td>
              <td>T</td>
            </tr>
            <tr>
              <td>lastName</td>
              <td>Last Name</td>
              <td>T</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
