<section class="about-field" id="about">
    <div class="container">
        <div class="about-header slide-bottom">
            <div class="top">Little Information</div>
            <h2>We Are Crafting</h2>
            <h3>Awesome Digital Products For You</h3>
        </div>
        <div class="about-text slide-bottom">
            <p>We are a team of young and dynamic developers that have extensive experience in the digital world. Your
                needs are handled with our creative engineering approach to find the best solution.</p>
            <p>We are capable of designing and developing broad range of products extending from mobile applications,
                web applications to VR/AR experiences and game development. If you are looking not for just developers
                but for partner able to embrace your projects, then this is us.</p>
        </div>
        <div class="about-boxes">
            <div class="box col-12 col-sm-6 col-md-4 slide-left">
                <div class="inner-box">
                    <div class="image-holder">
                        <img src="assets/images/ios.svg" alt="ios icon">
                        <img src="assets/images/ios-white.svg" alt="ios icon">
                    </div>
                    <div class="header">iOS</div>
                    <div class="subheader">App Development</div>
                    <div class="text">We are developing amazing iOS applications that suits Apple's Human Interface
                        Guideline.
                    </div>
                </div>
            </div>
            <div class="box col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="inner-box">
                    <div class="image-holder">
                        <img src="assets/images/android.svg" alt="ios icon">
                        <img src="assets/images/android-white.svg" alt="ios icon">
                    </div>
                    <div class="header android-header">Android</div>
                    <div class="subheader">App Development</div>
                    <div class="text">We are managing whole process from concept to distribution.</div>
                </div>
            </div>
            <div class="box col-12 col-sm-6 col-md-4 slide-right">
                <div class="inner-box">
                    <div class="image-holder">
                        <img src="assets/images/web.svg" alt="ios icon">
                        <img src="assets/images/web-white.svg" alt="ios icon">
                    </div>
                    <div class="header android-header">Web</div>
                    <div class="subheader">App Development</div>
                    <div class="text">Agile and innovative solutions to design frontend and backend development.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team-field" id="who-are-we">
    <div class="container">
        <div class="team-header slide-bottom">
            <h2>Our Team</h2>
            <h3>Let's Meet Our Teammates</h3>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-1.png" alt="Muhammed Emin Ayar">
                </div>
                <div class="person-info">
                    <div class="name">Muhammed Emin Ayar</div>
                    <div class="position">Founder / Android Developer</div>
                    <div class="links">
                        <a href="mailto:emin@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/meminayar/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-4.png" alt="Özkan Bölükbaş">
                </div>
                <div class="person-info">
                    <div class="name">Özkan Bölükbaş</div>
                    <div class="position">Engineering Manager</div>
                    <div class="links">
                        <a href="mailto:ozkan@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/ozkanbolukbas/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-6.png" alt="Sabri Ayeş">
                </div>
                <div class="person-info">
                    <div class="name">Sabri Ayeş</div>
                    <div class="position">Sr. Full Stack Web Developer</div>
                    <div class="links">
                        <a href="mailto:sabri@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/sabri-ayeş-b44186150/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-3.png" alt="Gürkan Soykan">
                </div>
                <div class="person-info">
                    <div class="name">Gürkan Soykan</div>
                    <div class="position">Sr. iOS Developer</div>
                    <div class="links">
                        <a href="mailto:gurkan@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/gurkan-soykan/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-15.jpeg" alt="Tuğçe Yıldırım">
                </div>
                <div class="person-info">
                    <div class="name">Tuğçe Yıldırım</div>
                    <div class="position">QA Engineer</div>
                    <div class="links">
                        <a href="mailto:tugce.yildirim@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/tuğçe-yıldırım-8527a5180/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-5.png" alt="İbrahim Halil Toprak">
                </div>
                <div class="person-info">
                    <div class="name">İbrahim Halil Toprak</div>
                    <div class="position">Sr. Android Developer</div>
                    <div class="links">
                        <a href="mailto:ibrahim@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/ibrahim-halil-toprak/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-9.png" alt="Muhammed Ateş">
                </div>
                <div class="person-info">
                    <div class="name">Muhammet Ateş</div>
                    <div class="position">Web Developer</div>
                    <div class="links">
                        <a href="mailto:muhammet.ates@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/muhammetates/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-2.png" alt="Talha Ayar">
                </div>
                <div class="person-info">
                    <div class="name">Talha Ayar</div>
                    <div class="position">iOS Developer</div>
                    <div class="links">
                        <a href="mailto:talha@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/talha-ayar-239765140/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-18.png" alt="Esra Kaya">
                </div>
                <div class="person-info">
                    <div class="name">Esra Kaya</div>
                    <div class="position">Jr. Frontend Developer</div>
                    <div class="links">
                        <a href="mailto:esra.kaya@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/esra-kaya-7959a7195/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-19.jpeg" alt="İbrahim Sayar">
                </div>
                <div class="person-info">
                    <div class="name">İbrahim Sayar</div>
                    <div class="position">Web Developer</div>
                    <div class="links">
                        <a href="mailto:ibrahim.sayar@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/ibrahimsayar/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-20.jpeg" alt="Halil İbrahim Kaya">
                </div>
                <div class="person-info">
                    <div class="name">Halil İbrahim Kaya</div>
                    <div class="position">Jr. Backend Developer</div>
                    <div class="links">
                        <a href="mailto:halil.kaya@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/halil-kaya/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="person col-12 col-sm-6 col-md-4 slide-bottom">
            <div class="person-holder">
                <div class="image-holder">
                    <img src="assets/images/team-22.jpeg" alt="Berkay Adanalı">
                </div>
                <div class="person-info">
                    <div class="name">Berkay Adanalı</div>
                    <div class="position">Jr. Backend Developer</div>
                    <div class="links">
                        <a href="mailto:berkay.adanali@naylalabs.com">
                            <span class="fas fa-envelope"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/berkay-adanali/" target="_blank">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery-field" id="gallery">
    <div class="container">
        <div class="gallery-header slide-bottom">
            <h2>Life at Naylalabs</h2>
            <h3>Some of Our Best Moments</h3>
        </div>
        <div class="gallery-grid">

            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201475493/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201475493_969707147a_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201475698/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201475698_e154123942_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202021191/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202021191_d58123cedd_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201476273/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201476273_13f05bb16f_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202285992/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202285992_ff562e0b9e_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201478748/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201478748_85b9ebf9cc_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202287252/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202287252_e3aa13e283_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201480643/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201480643_7858d3506e_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202025816/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202025816_857330a175_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201481563/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201481563_45f204393e_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202026016/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202026016_0448c95057_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202026246/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202026246_2417195d83_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202026546/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202026546_ddab55971d_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202289937/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202289937_40935f8a2e_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201482253/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201482253_ac31a5b4e9_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202027211/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202027211_aed1bf52c4_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202290532/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202290532_4f990699f9_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202027776/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202027776_8a52c2895a_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202290992/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202290992_0dd73cb7e8_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202291397/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202291397_48ae51ca1e_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201484258/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201484258_c912569283_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201484643/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201484643_041dcd9a1f_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201485078/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201485078_95eda353f2_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201486093/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201486093_0a417ca3af_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202031566/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202031566_a710297854_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202295182/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs" height="185"
                                              src="https://live.staticflickr.com/65535/50202295182_1154ee791b_w.jpg"
                                              width="400"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202295317/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202295317_5580dd6f99_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202032181/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202032181_738de153aa_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201487828/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201487828_d449311340_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202296067/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202296067_3a9d6d83ff_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201488238/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201488238_48a6a90243_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202296412/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202296412_173157296f_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201488583/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201488583_17cfb0110a_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201488883/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201488883_76da4e9154_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202033746/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202033746_f11a7065b8_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50202033906/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50202033906_942e07120d_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201489443/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201489443_0f354583a4_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201489633/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201489633_d6ba886998_w.jpg"></a>
                </div>
            </div>
            <div class="flicker-image col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="flicker-image-holder">
                    <a target="_blank"
                       href="https://www.flickr.com/photos/189613486@N05/50201489833/in/dateposted-public/"
                       title="Naylalabs"><img alt="Naylalabs"
                                              src="https://live.staticflickr.com/65535/50201489833_906781230d_w.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="career-field" id="career">
    <div class="container">
        <div class="career-header slide-bottom">
            <h2>Ready to Apply?</h2>
        </div>
        <div class="career-grid">
            <p class="subtitle">Send a POST request (<code>content-type</code> should be multipart) to our jobs API endpoint, along with your information:</p>
            <p class="subtitle">Endpoint: <code>https://www.naylalabs.com/apply-job</code></p>
            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>Param</th>
                        <th>Description</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>email</td>
                        <td>Email Address</td>
                        <td>T</td>
                    </tr>
                    <tr>
                        <td>firstName</td>
                        <td>First Name</td>
                        <td>T</td>
                    </tr>
                    <tr>
                        <td>lastName</td>
                        <td>Last Name</td>
                        <td>T</td>
                    </tr>
                    <tr>
                        <td>phone</td>
                        <td>Phone</td>
                        <td>T</td>
                    </tr>
                    <tr>
                        <td>github</td>
                        <td>Github (URL)</td>
                        <td>F</td>
                    </tr>
                    <tr>
                        <td>stackoverflow</td>
                        <td>Stack Overflow (URL)</td>
                        <td>F</td>
                    </tr>
                    <tr>
                        <td>linkedin</td>
                        <td>LinkedIn (URL)</td>
                        <td>F</td>
                    </tr>
                    <tr>
                        <td>resume</td>
                        <td>Resume File (.pdf, .doc, .docx, .odt)</td>
                        <td>T</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="contact-field" id="contact">
    <div class="container">
        <div class="contact-header slide-bottom">
            <h2>Contact Us</h2>
            <h3>We Are Ready To Hear From You</h3>
        </div>
        <div class="contact-info">
            <div class="contact-column col-12 col-sm-6 col-md-4 slide-left">
                <div class="column">
                    <div class="icon">
                        <span class="fas fa-globe-europe"></span>
                    </div>
                    <div class="header">Address</div>
                    <div class="text">Cumhuriyet Mah. Adnan Menderes Bulv. 1. Kısım Ada Apt. No:299 Kat:1 Atakum - Samsun</div>
                </div>
            </div>
            <div class="contact-column col-12 col-sm-6 col-md-4 slide-bottom">
                <div class="column">
                    <div class="icon">
                        <span class="fas fa-phone"></span>
                    </div>
                    <div class="header">Phone</div>
                    <a href="tel:+902129360626" class="text">+90 (212) 936 06 26</a>
                </div>
            </div>
            <div class="contact-column col-12 col-sm-6 col-md-4 slide-right">
                <div class="column">
                    <div class="icon">
                        <span class="fas fa-envelope"></span>
                    </div>
                    <div class="header">E-mail</div>
                    <a href="mailto:hello@naylalabs.com" class="text">hello@naylalabs.com</a>
                </div>
            </div>
        </div>
        <div class="form-header slide-bottom">
            <h2>Contact Form</h2>
            <h3>You Can Send A Message</h3>
        </div>
        <form class="contact-form slide-bottom" method="post" id="contact-form">
            <div class="form-element col-12 col-sm-12 col-md-4">
                <input type="text" name="name" placeholder="Name" maxlength="50">
            </div>
            <div class="form-element col-12 col-sm-12 col-md-4">
                <input type="email" name="email" placeholder="E-mail" maxlength="255">
            </div>
            <div class="form-element col-12 col-sm-12 col-md-4">
                <input type="tel" name="phone" placeholder="Phone Number" maxlength="18">
            </div>
            <div class="form-element col-12 col-sm-12 col-md-12">
                <textarea name="message" placeholder="Message"></textarea>
            </div>
            <div class="form-element col-12 col-sm-12 col-md-12 text-center">
                <button type="submit" name="send" id="submit">SEND</button>
            </div>
        </form>
    </div>
</section>